.product{
    border: black solid; 
    border-radius: 1em;
    margin-bottom: 2%;
}

.content{
    margin-right: 1%;
    margin-left: 1%;
}

.order{
    border: black solid;
    border-radius: 1em;
}

.category{
    color: gray;
}

.price{
    color: red;
    font-weight: bold;
}

.createDate{
    color: gray;
}

.obrazok{
    display:flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 50%;
}