{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'blog/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if posts and not categories and not authors %}
    <h1>POSTS</h1>
    {% for post in posts %}
    <div class="post">
        <h1 class="post-content">{{post.heading}}</h1>
        <h4 class="post-content">{{post.author}}</h4>
        <p class="post-content">{{post.category}}</p>
        <p class="date post-content">Date of creation: {{post.create_Date}}<br>Date of publication: {{post.publish_Date}}</p>
        <p class="post-content">{{post.text}}</p>
    </div>
    {% endfor %}
    {% endif %}

    {% if authors %}
    <h1>AUTHORS</h1>
        {% for author in authors %}
            <p class="post-content">{{author.name}} {{author.surname}} ({{author.nickname}})</p>
        {% endfor %}
    {% endif %}

    {% if categories and posts %}
        {% for category in categories %}
            <p><strong>{{category.name}}:</strong></p>
            <p>
            {% for post in posts %}
                {% if post.category == category %}

                {{post.heading}};
                
                {% endif %}
            {% endfor %}
            </p>
        {% endfor %}
    {% endif %}
    <div class="obrazok">
        <img src="{% static 'blog/obrazok.webp' %}" alt="">
    </div>
    
</body>
</html>