{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'skola/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
</head>
<body>
    <h1>Moja školička</h1>

    {% if triedy %}
    <div class="part">
        <h2 class="content">Triedy</h2>
        <ul>
            {% for trieda in triedy %}
            <li class="content">{{trieda}}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    {% if ucitelia %}
    <div class="part">
        <h2 class="content">Učitelia</h2>
        <ul>
            {% for ucitel in ucitelia %}
            <li class="content">{{ucitel}}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    {% if studenti %}
    <div class="part">
        <h2 class="content">Študenti</h2>
        <ul>
            {% for student in studenti %}
            <li class="content">{{student}}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

</body>
</html>