{% extends "base.html" %}
{% load static %}
{% block trieda %}
<h1>Moja školička</h1>

{% if trieda %}
<div class="part">
    <h2 class="content">Triedy</h2>
    <ul>
        {% for trieda in triedy %}
        <li class="content">{{trieda}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

{% if ucitel %}
<div class="part">
    <h2 class="content">Učitelia</h2>
    <ul>
        <li class="content">{{ucitel}}</li>
    </ul>
</div>
{% endif %}

{% if studenti %}
<div class="part">
    <h2 class="content">Študenti {{trieda}}</h2>
    <ul>
        {% for student in studenti %}
        <li class="content"><a href="{% url 'vypisOStudentoviPodlaTriedy' student=student %}">{{student}}</a></li>
        {% endfor %}
    </ul>
    <strong class="content">Triedny učiteľ:</strong>{{ucitel}}
</div>
{% endif %}
<div class="obrazok">
    <img src="{% static 'skola/skola.jpg' %}" alt="">
</div>
{% endblock %}