{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'shop/style.css' %}">
    <title>Document</title>
</head>
<body>
    {% if produkty %}
    <h1>PRODUCTS</h1>
    {% for produkt in produkty %}
    <div class="product">
        <h2 class="content">{{produkt.name}}</h2>
        <h3 class="price content">{{produkt.price}} €</h3>
    </div>
    {% endfor %}
    {% endif %}
</body>
</html>